body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*mapa*/

.mapa_trawa {
    width : 50px;
    height : 50px;
    border: solid 1px;
    background-image: url(http://preview.turbosquid.com/Preview/2014/08/01__14_02_41/grasstile03.jpg83320455-db4e-42cb-b185-c59c535afdd1Small.jpg);
}
.mapa_trawa:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}